<mat-toolbar>
  <span>
<a  routerLink="/">
  <!-- <mat-icon svgIcon="icono-pokeball"></mat-icon> -->
  <!-- <img style="width: 30px;height:30px" [src]="watermelon" /> -->
</a>
</span>
  <span class="spacer"></span>
  <ul>
      <li >
          <a class="o" mat-button>
              <!-- <img style="width: 30px;height:30px" [src]="in" /> -->
              REGISTRO
          </a>
      </li>
      <li >
          <a class="o"  mat-button>
              <!-- <img style="width: 30px;height:30px" [src]="signup" /> -->
              ENTRAR
          </a>
      </li>
  </ul>
</mat-toolbar>
