<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <section>
      <div class="example-button-row">
        <button mat-raised-button color="secondary" type="button" (click)="archivoPicker.click()">
          Fibra
        </button>
        <input type="checkbox" #archivoPicker />


      </div>
    </section>
  </mat-grid-tile>
  <mat-grid-tile><button (click)="applyFilter('Fibra')" mat-raised-button color="secondary">Fibra</button>
  </mat-grid-tile>
</mat-grid-list>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td [style.background-color]="element.color" mat-cell *matCellDef="let element">
      <mat-checkbox class="example-margin"></mat-checkbox>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td [style.background-color]="element.color" [ngClass]="(element.site=='Credit')?'text-success':'text-danger'"
      mat-cell *matCellDef="let element"> {{element.site}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="completed">
    <th mat-header-cell *matHeaderCellDef> Completed </th>
    <td [style.background-color]="element.color" mat-cell *matCellDef="let element"> {{element.coverage}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef> UserID </th>
    <td [style.background-color]="element.color" mat-cell *matCellDef="let element"> {{element.accessMedia}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
