table {
  width: 100%;
}
.mat-grid-tile {
  background: auto;
}
tr:nth-child(even) {
  background: #dffcdf;
}
tr:nth-child(odd) {
  background: #eaf6f9;
}
input[type="checkbox"] {
  visibility: hidden;
}
