

<mat-card id="card" style="text-align: center;">
  <mat-card-title>
    Filter Buttons
  </mat-card-title>

  <mat-card-content>
    <input value="1" type="checkbox" class="btn-check" id="btn-check-fiber" name="control" />
    <label class="btn btn-sm btn-outline-primary btn-check-fiber btn-check-no-shadow" for="btn-check-fiber">3
      Fibra</label>

  </mat-card-content>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <!-- Check Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef >
      <mat-checkbox
        color="primary"
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        [aria-label]="checkboxLabel()"
      ></mat-checkbox>
    </th>
    <td
      class="borders"
      [style.background-color]="element.color"
      mat-cell
      *matCellDef="let element"
    >
      <mat-checkbox
        color="primary"
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(element) : null"
        [checked]="selection.isSelected(element)"
        [aria-label]="checkboxLabel(element)"
      ></mat-checkbox>
    </td>
  </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td [style.background-color]="element.color" [ngClass]="(element.site=='Credit')?'text-success':'text-danger'"
        mat-cell *matCellDef="let element"> {{element.site}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef> Completed </th>
      <td [style.background-color]="element.color" mat-cell *matCellDef="let element"> {{element.coverage}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef> UserID </th>
      <td [style.background-color]="element.color" mat-cell *matCellDef="let element"> {{element.accessMedia}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
