

<mat-card id="card" style="text-align: center;">
  <mat-card-title>
    login
  </mat-card-title>

  <mat-card-content>
    <input value="1" type="checkbox" class="btn-check" id="btn-check-fiber" name="control" />
    <label class="btn btn-sm btn-outline-primary btn-check-fiber btn-check-no-shadow" for="btn-check-fiber">3
      Fibra</label>
    <!-- <button mat-raised-button color="primary" style="margin-right:5px;">Microonda</button>
    <button mat-raised-button color="primary" style="margin-right:5px;">Metro</button>
    <button mat-raised-button color="primary" style="margin-right:5px;">N/D</button> -->

  </mat-card-content>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td [style.background-color]="element.color" mat-cell *matCellDef="let element">
        <mat-checkbox class="example-margin"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td [style.background-color]="element.color" [ngClass]="(element.site=='Credit')?'text-success':'text-danger'"
        mat-cell *matCellDef="let element"> {{element.site}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef> Completed </th>
      <td [style.background-color]="element.color" mat-cell *matCellDef="let element"> {{element.coverage}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef> UserID </th>
      <td [style.background-color]="element.color" mat-cell *matCellDef="let element"> {{element.accessMedia}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
